nav {
    background-color: black;
    color:aliceblue;
}

li{
    list-style:none;
}
nav
{
    position: fixed;
    width:100%;
    top: 0;
    
}


ul{
    display : flex;
    gap: 25px;
    justify-content:right;
    padding-right: 20px;
}
